* {
    box-sizing: border-box;
  }

/*Used for styling the name in the nav bar*/

.navbar-brand{
    color: rgb(83, 19, 69);
    margin: 10px;
    text-align:center;
    font-family: 'Sail', cursive;
    font-size: 30px !important;
   
}

/*Used for styling the links present in the nav bar*/
.nav-link{
   color: rgb(83, 19, 69);
   font-family: 'Kotta One', serif;
   font-size: 20px;
  
}

/* Used for styling the headings in every page (About Me, Portfolio, Contact) */
h3, h4{
   color: rgb(83, 19, 69);
   font-family: 'Rye', cursive;;
}
/* 
 body{
    background: url("https://images.unsplash.com/photo-1542373285-a85124c4f3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  
  height: 100%; 
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* min-height:100vh, position:relative helps the footer to stick to the bottom of the page*/
body{
    /* background-color: rgb(243, 239, 239); */
  
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;  
}

/* .container{   
    background-color: rgb(235, 228, 228);  
} */

/*Used for making the nav links present at appropriate position in the page*/
/* .navBarLinks{  
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}  */

/*Code to make the image as responsive in About page */
.imgResponsive{
    max-width:180px;
    height:auto;
}

p{
    font-family: serif;
    font-size: 18px;
    font-style: normal;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:rgb(235, 218, 210);
}

.card{
    margin: 8px 10px;
    margin-left:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.year{
    width:130px;
    color: rgb(59, 58, 58);
    font-style:italic;
    text-align: center !important;
    border-right: 1px solid  rgb(59, 58, 58);
}

.project-description{
    padding:8px;
    margin-left: 15px;
}

.technologies {
    color: rgb(190, 102, 102);
}
.projects{
    color:  rgb(190, 102, 102);
}

.certifications{
    color:  rgb(190, 102, 102);
}
/* These media queries are helpful in achieving responsive nav bar*/

@media screen and (max-width: 1024px) {
    
    .year{
        width: 40px;
        text-align: center;
        margin-left: 8px !important;
        margin: 8px !important;
       
    }

   }

  @media screen and (max-width: 768px) {
    
    .year{
        width: 35px;
        text-align: center;
    }
}

    @media screen and (max-width: 530px) {
        .year{
            width: 25px;
            text-align: center;
        }
    
  }

  @media screen and (max-width: 400px) {
    .year{
        width: 15px;
        text-align: center;
    }

}

  
 