/*Used for styling the name in the nav bar*/

.sidebar-inner{
    position: relative;
    height:100%;
    overflow-y: auto;
    padding : 45px 40px;
    
}

.personal-photo img{
    width:155px;
    height:155px;
    border-radius:50%;
    margin: 20px;
}

.name{
    color: rgb(83, 19, 69);
    margin: 10px;
   
    font-family: 'Sail', cursive;
    font-size: 28px;
    margin-top: -20px;
}

.role{
    margin: 10px;
   
}
.navbar-brand{
    color: rgb(83, 19, 69);
    margin: 10px;
    text-align:center;
    font-family: 'Sail', cursive;
    font-size: 28px;
    margin-top: -20px;
}

/*Used for styling the links present in the nav bar*/
.nav-link{
   color: rgb(83, 19, 69);
   font-family: 'Kotta One', serif;
   margin-top:15px;
   font-size: 20px;
  
}

/* Used for styling the headings in every page (About Me, Portfolio, Contact) */
h3, h4{
   color: rgb(83, 19, 69);
   font-family: 'Rye', cursive;;
}

 body{
    background: url("https://images.unsplash.com/photo-1542373285-a85124c4f3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  
  height: 100%; 
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* min-height:100vh, position:relative helps the footer to stick to the bottom of the page*/
body{
    /* background-color: rgb(243, 239, 239); */
  
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;  
}

.container{   
    background-color: rgb(235, 228, 228);  
}

/*Used for making the nav links present at appropriate position in the page*/
.navBarLinks{  
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
} 

/*Code to make the image as responsive in About page */
.imgResponsive{
    max-width:180px;
    height:auto;
}

p{
    font-family: serif;
    font-size: 18px;
    font-style: normal;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:darkgrey;
}

.card{
    margin: 8px 10px;
    margin-left:15px;
}
/* Styling portfolio page */
/* .imagecontainer {
    position: relative;  
    /* border: 1px solid black; */
  /*  margin-bottom: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:100%;
} */

/* To make content align with image in Portfolio page*/
/* .text-block{
    position:absolute;
   
    background-color: lightgrey;
    color: rgb(43, 41, 41);
    text-align:center;
    width:100%;    
    height:100%;
} */

/* .card-reveal{
   display:none;
    position: absolute;  
  
    background-color: white;

    top:100%;
    height:100%;
  
    overflow-y:auto;
    z-index:1;
    box-sizing: border-box; 
    /* transform: translateY(0px); */
   
/*} */


/* These media queries are helpful in achieving responsive nav bar*/
  @media screen and (max-width: 767px) {
    .navbar-brand{
        width:100%;
    }
    .navbar-nav{
        display:flex;
        flex-direction: row;    
        margin-bottom: 8px;
       
    }
    .navBarLinks{      
        left: 35%;
        top: 55%; 
        font-size: 18px;     
       
    }  
    .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 0;
       
    }       
}

    @media screen and (max-width: 530px) {
        .navBarLinks{      
            left: 25%;
        }
    
  }

  @media screen and (max-width: 500px) {
  p{
      margin-top:190px;
  }

}

  
 