* {
    box-sizing: border-box;
  }

/*Used for styling the name in the nav bar*/

.navbar-brand{
    color: rgb(83, 19, 69);
    margin: 10px;
    text-align:center;
    font-family: 'Sail', cursive;
    font-size: 25px !important;
   
}

/*Used for styling the links present in the nav bar*/
.nav-link{
   color: rgb(83, 19, 69);
   font-family: 'Kotta One', serif;
   font-size: 20px;
  
}

/* Used for styling the headings in every page (About Me, Portfolio, Contact) */
h3, h4{
   color: rgb(83, 19, 69);
   font-family: 'Rye', cursive;;
}

 
/* min-height:100vh, position:relative helps the footer to stick to the bottom of the page*/
body{
    /* background-color: rgb(243, 239, 239); */
    /* background-color:rgb(231, 189, 166) !important; */
    background-color:rgb(235, 205, 189) !important; 
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;  
    
}

/*Code to make the image as responsive in About page */
.imgResponsive{
    max-width:180px;
    height:auto;
}

p{
    font-family: serif;
    font-size: 18px;
    font-style: normal;
}

.style-Container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 4%;
}

.title{
    margin-left: 30%;
}

.contact-details{
    margin-left: 36%;
}

.lastRowCard{
    margin-left:15% !important;
} 
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:rgb(138, 86, 59);
}

.card{
    margin: 8px 10px;
    margin-left:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.card:hover{
    border: 1px solid black;
}

.year{
    width:130px;
    color: rgb(59, 58, 58);
    font-style:italic;
    text-align: center !important;
    border-right: 1px solid  rgb(59, 58, 58);
}

.project-description{
    padding:8px;
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2%;
}

.technologies {
    color: rgb(190, 102, 102);
}
.projects{
    color:  rgb(190, 102, 102);
}

.certifications{
    color:  rgb(190, 102, 102);
}

/* These media queries are helpful in achieving responsive nav bar*/

@media screen and (max-width: 1024px) {
    
    .year{
        width: 40px;
        text-align: center;
        margin-left: 8px !important;
        margin: 8px !important;
       
    }

   }

  @media screen and (max-width: 768px) {
    
    .year{
        width: 35px;
        text-align: center;
    }
}

@media screen and (max-width: 630px) {
    .contact-details{
        margin-left: 25%;
        
    }    
}   

    @media screen and (max-width: 530px) {
        .year{
            width: 25px;
            text-align: center;
        }   
  }    
  @media screen and (max-width: 517px) {
    .contact-details{
        margin-left: 18%;
        
    }  
}    

  @media screen and (max-width: 488px) {
    .contact-details{
        margin-left: 3%;
        
    }  
}    
@media screen and (max-width: 410px) {
    .contact-details{
        margin-left: 0%;
        
    }  
}
  @media screen and (max-width: 400px) {
    .year{
        width: 15px;
        text-align: center;
    }

}
